@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-items {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .95);
}

.left-login {
    background-color: rgba(0, 0, 0, 0);
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > img {
    width: 650px;
    align-self: center;
    margin-bottom: 20px;
}

.left-login > h2, span {
    text-align: center;
    color: rgba(0, 139, 242, 1);
    font-weight: 900;
    font-size: 2rem;
}

.formulario {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 40vw;
}

.container {
    position: relative;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(120, 120, 120, .4);
    padding: 25px;
    background-color: rgba(25, 25, 25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 400px;
}
.container img {
    position: absolute;
    width: 12%;
    position: absolute;
    top: 3.5%;
    right: 3%;
}

.container > h2 {
    padding-bottom: 15px;
    margin: 0;
    color: rgba(0, 139, 242, 1);
    font-size: 2rem;
    text-align: center;
}

.container > button {
    font-weight: 900;
    border: none;
    border-radius: 10px;
    height: 45px;
    margin-top: 5px;
    width: 120px;
}

.container > button:hover {
    background-color: rgba(0, 139, 242, 1);
    cursor: pointer;
}

.l-campos {
    width: 250px;
    height: 95px;
    display: flex;
    flex-direction: column;
}

.l-campos > span {
    text-align: start;
    color: silver;
    font-size: 0.9rem;
    margin-left: 5px;
    margin-bottom: 5px;
}

.l-campos > input {
    align-self: center;
    background-color: grey;
    box-shadow: 5px 8px 5px rgba(46, 46, 46, .4);
    color: black;
    text-align: center;
    font-size: 1rem;
    width: 250px;
    height: 42px;
    border: none;
    border-bottom: 2px solid rgba(0, 139, 242, 1);
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: black;
}

.text-cadastro {
    color: rgba(238, 173, 45, 1);
    margin: 0;
    margin-top: 2px;
    font-size: 0.9rem;
    justify-self: center;
    text-align: center;
}

.cadastrado {
    margin: 0;
    padding-top: 15px;
    font-size: 1rem;
}

.cadastrado a {
    text-decoration: none;
    color: rgba(238, 173, 45, 1);
}

#erro_geral {
    margin-top: 12px;
}