@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-gap-override: inherit;
}

/* Layout da página */
.l-grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "header header header"
        " . aside . "
        " . mainMaioresNotas . "
        " . mainTodos . "
        "footer footer footer";
}

html {
    position: relative;
}

body {
    /* position: relative; */
    background-color: rgba(100, 100, 100, 1);
}


/* Estilização do header */
.l-header {
    height: 80px;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    border-bottom: 2px solid white;
}

.container {
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container>img {
    width: 170px;
}

.navbar {
    margin: 0;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

li>a {
    font-size: 1.2rem;
    padding: 5px;
    color: red;
    font-weight: 900;
    text-decoration: none;
    list-style: none;
}

li {
    padding: 5px;
    background-color: rgba(30, 30, 30, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(120, 120, 120, .4);
    list-style: none;
}

.l-header .container>span {
    color: red;
    font-size: 3.125rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.navbar>ul>li:hover,
a:hover {
    color: yellow;
    cursor: pointer;
    background-color: rgba(40, 40, 40, 1);
}

.sunny {
    margin-top: 5px;
    margin-right: 20px;
    height: 100px;
    z-index: 1;
}

.merry {
    margin-left: 20px;
    width: 85px;
    z-index: 2;
}

/* Estilização aside, e select */
.l-aside {
    background-color: black;
    border-radius: 10px;
    color: rgba(0, 139, 242, 1);
    width: 100%;
    height: 10vh;
    grid-area: aside;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0 15px 0;
    position: relative;
}

.l-aside .ola {
    position: absolute;
    top: auto;
    left: 25px;
}

.titulo_e_frase {
    color: gold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo_e_frase>h2 {
    color: rgba(0, 139, 242, 1);
    font-size: 2rem;
}

.svg-lapis {
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
}

.slt-ordenar {
    max-width: 50px;
    margin: 15px 0px;
    position: absolute;
    top: auto;
    right: 25px;
}

/* Estilização section, main/cards */
.area1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: mainMaioresNotas;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(40, 40, 40, 1);
    margin-bottom: 30px;
}

.area1 h2 {
    color: rgba(0, 139, 242, 1);
    margin: 0;
    font-size: 1.5rem;
    align-self: center;
}

.area2 h2 {
    color: rgba(0, 139, 242, 1);
    margin: 0;
    font-size: 1.5rem;
    align-self: center;
}

.area2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: mainTodos;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(40, 40, 40, 1);
    margin-bottom: 30px;
}

.l-main-maiores-notas {
    overflow: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.l-main-todos {
    overflow: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.l-main-maiores-notas::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.l-main-maiores-notas::-webkit-scrollbar-track {
    background: rgba(120, 120, 120, .4);
    border-radius: 10px;
}

.l-main-maiores-notas::-webkit-scrollbar-thumb {
    background: rgba(0, 139, 242, 1);
    border-radius: 20px;
    border: 1px solid rgba(120, 120, 120, .4);
}

.l-main-todos::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

.l-main-todos::-webkit-scrollbar-track {
    background: rgba(120, 120, 120, .4);
    border-radius: 10px;
}

.l-main-todos::-webkit-scrollbar-thumb {
    background: rgba(0, 139, 242, 1);
    border-radius: 20px;
    border: 1px solid rgba(120, 120, 120, .4);
}

.card {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.2rem;
    min-width: 400px;
    max-width: 400px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(40, 40, 40, 1);
    box-shadow: 0px 0px 5px rgba(120, 120, 120, .4);
    margin: 10px 10px;
    border-radius: 10px;
}

.text-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 100%;
}

.nota {
    padding: 3px;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, .95);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.valor-nota {
    font-size: 1.2rem;
    font-weight: 900;
    width: 30px;
    height: 30px;
    padding: 2px;
    color: black;
    background-color: rgba(0, 139, 242, 1);
    border-radius: 5px;
}



/* --------------------------- */
.formulario-modal {
    margin: auto;
    display: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    width: 40vw;
    height: 60vh;
}

.formulario-modal .container {
    position: relative;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(120, 120, 120, .4);
    padding: 25px;
    background-color: rgba(25, 25, 25, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
}

.formulario-modal .container>h2 {
    color: rgba(238, 173, 45, 1);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.formulario-modal .container>button {
    font-weight: 900;
    border: none;
    border-radius: 10px;
    height: 50px;
    margin-top: 5px;
    width: 120px;
}

.formulario-modal .container>button:hover {
    background-color: rgba(238, 173, 45, 1);
    cursor: pointer;
}

.l-campos {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.l-campos>span {
    text-align: start;
    color: silver;
    font-size: 0.9rem;
    margin-left: 5px;
    margin-bottom: 5px;
}

.l-campos>input {
    align-self: center;
    background-color: grey;
    box-shadow: 5px 8px 5px rgba(46, 46, 46, .4);
    color: black;
    text-align: center;
    font-size: 1rem;
    width: 250px;
    height: 42px;
    border: none;
    border-bottom: 2px solid rgba(238, 173, 45, 1);
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: black;
}

/* -------------------------------- */

.card-img {
    display: flex;
    align-items: center;
    width: 60%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.play-bnt {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* Modal video */
.video-player {
    position: relative;
    margin-top: 60px;
    width: 80%;
    height: calc(80vh - 140px);
    display: none;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

video:focus~body {
    outline: none;
    background-color: black;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
}

/* Estilização botãos para inserir a frase */
.ipt-frase {
    align-self: center;
    background-color: grey;
    box-shadow: 5px 8px 5px rgba(46, 46, 46, .4);
    color: black;
    text-align: center;
    font-size: 1rem;
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgba(238, 173, 45, 1);
    border-radius: 5px;
    outline: none;
}

.btn-frase {
    font-weight: 900;
    border: none;
    border-radius: 10px;
    height: 25px;
    margin-top: 5px;
    width: 80px;
}

.btn-frase:hover {
    background-color: rgba(238, 173, 45, 1);
    cursor: pointer;
}

/* Estilização footer */
footer {
    grid-area: footer;
}

.l-footer {
    padding: 15px;
    color: white;
    border-top: 1px solid white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 1);
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.onde-assistir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.midia-c>a {
    font-size: 1.2rem;
    color: orange;
    text-decoration: none;
}

.midia-n>a {
    font-size: 1.2rem;
    color: red;
    text-decoration: none;
}

.onde-assistir>a {
    display: flex;
    align-items: center;
}

.midia-c{
    width: 180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.midia-n{
    display: flex;
    align-items: center;
    justify-content: end;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fechar {
    display: none;
}